<%# 投稿表示 %>
<div class="main-top">
  <% @cans.each do |can| %>
    <div class="can">
      <%= link_to image_tag(can.image, class: :can_img), can_path(can.id) if can.image.attached? %>
      <div class="can_name">
          <%= can.user.nickname %>さん
          <div class="can_active">
            -<%= can.active.name %>-
          </div>
      </div>
      <% if current_user.already_liked?(can) %>
        <%= link_to can_like_path(can), method: :delete do %>
          <i class="fas fa-heart"></i>
        <% end %>
      <% else %>
        <%= link_to can_likes_path(can), method: :post do %>
          <i class="far fa-heart"></i>
        <% end %>
      <% end %>
      <%= can.likes.count %>
    </div>
  <% end %>
</div>
