<% if user_signed_in? %>
  <div class="greeting">
    ユーザー名:
    <%= link_to "#{current_user.nickname}", user_path(current_user), class: :greeting_link %>さん
  </div>
<% end %>

<%# ログイン時のエラーメッセージ  %>
    <div class='login-flash-message'>
      <%= flash[:notice] %>
      <%= flash[:alert] %>
    </div>

<%# 検索機能表示 shared/_search.html.erb %>
<%= render "shared/search" %>

<%# 投稿表示 shared/_can.html.erb %>
<%= render "shared/can" %>